#new-item{
    display: flex;
    justify-content: space-between;
    margin:1rem;
}

#list{
    padding:0 1rem;
    margin:0;
    background-color: rgba(236, 241, 250, 0.805);
    color:black;
    margin:1rem;
}

#new-item input{
    margin-right: 1rem;
    flex: 1 0 auto;
    font-size: 1.5rem;
    padding: .5rem;
}

#new-item button{
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    opacity: .8;
}

.list-item{
    display: flex;
    margin:1rem 0;
}

.list-item p{
    flex: 1 0 auto;
    margin:0;
}

.done{
    text-decoration: line-through;
}
